<!DOCTYPE html>
<html>
    <head>
        <title>Node.js express mongoDB CRUB</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body class="bg-info">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 25px; padding: 20px;">
                {{{body}}}
            </div>
        </div>
    </body>
</html>